.center{ text-align: center;}
.forget-password{ font-weight: 600; font-size: 0.8571em; text-transform: uppercase; }
.card-footer a { text-decoration: none; }
.select2 { width: 100% !important;}
footer { background-image: url('../img/ods-rodape.png'); padding: 8px 0 !important; }
.box-ods > div > div > img:hover { cursor: pointer; }
.cabecalho {border-left: 12px solid #00bcd4; padding-left: 10px;}
.show-text { color: black !important; font-weight: 600; }
.show-text:hover { text-decoration:none; }
mark1{
    background: #e5243b;
    color: black;
    border-radius: 5px;
}
mark2{
    background: #DDA63A;
    color: white;
    padding: 2px 3px;
    border-radius: 5px;
}
mark3{
    background: #4C9F38;
    color: white;
    padding: 2px 3px;
    border-radius: 5px;
}
mark4{
    background: #C5192D;
    color: white;
    padding: 2px 3px;
    border-radius: 5px;
}
mark5{
    background: #FF3A21;
    color: white;
    padding: 2px 3px;
    border-radius: 5px;
}
mark6{
    background: #26BDE2;
    color: white;
    padding: 2px 3px;
    border-radius: 5px;
}
mark7{
    background: #FCC30B;
    color: white;
    padding: 2px 3px;
    border-radius: 5px;
}
mark8{
    background: #A21942;
    color: white;
    padding: 2px 3px;
    border-radius: 5px;
}
mark9{
    background: #FD6925;
    color: white;
    padding: 2px 3px;
    border-radius: 5px;
}
mark10{
    background: #DD1367;
    color: white;
    padding: 2px 3px;
    border-radius: 5px;
}
mark11{
    background: #FD9D24;
    color: white;
    padding: 2px 3px;
    border-radius: 5px;
}
mark12{
    background: #BF8B2E;
    color: white;
    padding: 2px 3px;
    border-radius: 5px;
}
mark13{
    background: #3F7E44;
    color: white;
    padding: 2px 3px;
    border-radius: 5px;
}
mark14{
    background: #0A97D9;
    color: white;
    padding: 2px 3px;
    border-radius: 5px;
}
mark15{
    background: #56C02B;
    color: white;
    padding: 2px 3px;
    border-radius: 5px;
}
mark16{
    background: #00689D;
    color: white;
    padding: 2px 3px;
    border-radius: 5px;
}
mark17{
    background: #19486A;
    color: white;
    padding: 2px 3px;
    border-radius: 5px;
}
/*  Background Image */

.barra {
    background-image: url('../img/ods-barra.png'); 
    padding: 2px 0 !important; 
    width: 100%;
}

.progresso-title{
    font-size: 18px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}
.progresso{
    height: 10px;
    background: #e9e9ea;
    border-radius: 15px;
    margin-bottom: 30px;
    overflow: visible;
    position: relative;
}
.progresso:before,
.progresso:after{
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: -5px;
    left: 0;
    z-index: 1;
}
.progresso:after{
    border: 7px solid #e9e9ea;
    left: auto;
    right: 0;
}
.progresso .progresso-bar{
    box-shadow: none;
    border: none;
    border-radius: 15px;
    position: relative;
    -webkit-animation: animate-positive 1s;
    animation: animate-positive 1s;
    height: 100%;
}
.progresso .progresso-value{
    width: 70px;
    height: 35px;
    line-height: 27px;
    border-radius: 20px;
    background: #fff;
    font-size: 17px;
    font-weight: 600;
    position: absolute;
    top: -12px;
    right: 0;
    z-index: 2;
    text-align: center;
}

.percentual-ods-1{ background:#e5243b; }
.percentual-ods-2{ background: #DDA63A; }
.percentual-ods-3{ background: #4C9F38; }
.percentual-ods-4{ background: #C5192D; }
.percentual-ods-5{ background: #FF3A21; }
.percentual-ods-6{ background: #26BDE2; }
.percentual-ods-7{ background: #FCC30B; }
.percentual-ods-8{ background: #A21942; }
.percentual-ods-9{ background: #FD6925; }
.percentual-ods-10{ background: #DD1367; }
.percentual-ods-11{ background: #FD9D24; }
.percentual-ods-12{ background: #BF8B2E; }
.percentual-ods-13{ background: #3F7E44; }
.percentual-ods-14{ background: #0A97D9; }
.percentual-ods-15{ background: #56C02B; }
.percentual-ods-16{ background: #00689D; }
.percentual-ods-17{ background: #19486A; }

.progresso.ods-1:before{ border: 7px solid #e5243b; }
.progresso.ods-2:before{ border: 7px solid #DDA63A; }
.progresso.ods-3:before{ border: 7px solid #4C9F38; }
.progresso.ods-4:before{ border: 7px solid #C5192D; }
.progresso.ods-5:before{ border: 7px solid #FF3A21; }
.progresso.ods-6:before{ border: 7px solid #26BDE2; }
.progresso.ods-7:before{ border: 7px solid #FCC30B; }
.progresso.ods-8:before{ border: 7px solid #A21942; }
.progresso.ods-9:before{ border: 7px solid #FD6925; }
.progresso.ods-10:before{ border: 7px solid #DD1367; }
.progresso.ods-11:before{ border: 7px solid #FD9D24; }
.progresso.ods-12:before{ border: 7px solid #BF8B2E; }
.progresso.ods-13:before{ border: 7px solid #3F7E44; }
.progresso.ods-14:before{ border: 7px solid #0A97D9; }
.progresso.ods-15:before{ border: 7px solid #56C02B; }
.progresso.ods-16:before{ border: 7px solid #00689D; }
.progresso.ods-17:before{ border: 7px solid #19486A; }

.progresso.ods-1 .progresso-value{ border: 5px solid #e5243b; color: #e5243b;}
.progresso.ods-2 .progresso-value{ border: 5px solid #DDA63A; color: #DDA63A;}
.progresso.ods-3 .progresso-value{ border: 5px solid #4C9F38; color: #4C9F38;}
.progresso.ods-4 .progresso-value{ border: 5px solid #C5192D; color: #C5192D;}
.progresso.ods-5 .progresso-value{ border: 5px solid #FF3A21; color: #FF3A21;}
.progresso.ods-6 .progresso-value{ border: 5px solid #26BDE2; color: #26BDE2;}
.progresso.ods-7 .progresso-value{ border: 5px solid #FCC30B; color: #FCC30B;}
.progresso.ods-8 .progresso-value{ border: 5px solid #A21942; color: #A21942;}
.progresso.ods-9 .progresso-value{ border: 5px solid #FD6925; color: #FD6925;}
.progresso.ods-10 .progresso-value{ border: 5px solid #DD1367; color: #DD1367;}
.progresso.ods-11 .progresso-value{ border: 5px solid #FD9D24; color: #FD9D24;}
.progresso.ods-12 .progresso-value{ border: 5px solid #BF8B2E; color: #BF8B2E;}
.progresso.ods-13 .progresso-value{ border: 5px solid #3F7E44; color: #3F7E44;}
.progresso.ods-14 .progresso-value{ border: 5px solid #0A97D9; color: #0A97D9;}
.progresso.ods-15 .progresso-value{ border: 5px solid #56C02B; color: #56C02B;}
.progresso.ods-16 .progresso-value{ border: 5px solid #00689D; color: #00689D;}
.progresso.ods-17 .progresso-value{ border: 5px solid #19486A; color: #19486A;}

.view-eye {
    position: absolute;
    top: 10px;
    right: 8px;
    z-index: 1000;
}

.view-eye:hover{
    cursor: pointer;
}

.perfil-docente-mostrar:hover{
    cursor: pointer;
}

.container-ods {position: relative;}

.container-ods > div{
    display: inline;
    float: left;
    text-align: center;
}

.container-ods > div > strong{
    display: block;
}

.result-proba{
    text-align: center;
    font-size: 35px;
}
.excel-download:hover{
    cursor: pointer;
}
.detalhes-documento:hover{
    cursor: pointer;
}
.box-dimensao{
    border: 100px;
    margin-bottom: 6px;
    min-height: 50px;
    border-radius: 8px;
}
.box-dimensao p{
    color:white;
    margin: 0px;
    padding: 0px;
}
.box-dimensao img{
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5px;
}
.box-dimensao-ensino{
    background: #3c7f89;
}
.box-dimensao-pesquisa{
    background: #a22245;
}
.box-dimensao-extensao{
    background: #53a146;
}
.box-dimensao-gestao{
    background: #1c4768;
}
.box-dimensao-inovacao{
    background: #ed6a4a;
}
.box-dimensao-pos-graduacao{
    background: #f2b705;
}
.filtros span {
    background: #03A9F4;
    border-radius: 5px;
}